:root {
    --primary-color: #28a745;
    --secondary-color: #baf1c7;;
    --border-radius: 4px;
  }
  
*{
    background-color: rgba(0,0,0, 0.75);
    color: whitesmoke;
    margin: 0;
}
body{
    background-color:  #b9e9c4;
}
h1{
    background-color: rgba(0,0,0, 0.55);
    padding: 2rem;
    color: var(--primary-color) ;
}
h3{
    color:  var(--secondary-color);
}
.componentContainer{
    width: 80%;
    margin: auto;
    font-weight: 300;

}
table{
    border-radius: 20px;
    padding: 1rem;
    margin: 0;
}
#copyrightContainer{
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #copyrightText{
    background-color: transparent;
  }
  thead{
    color: var(--primary-color);

  }
i{
    background-color: transparent;
    color: var(--primary-color);
}
#formTogglerButton{
    font-weight: 300;
    padding: 10px 15px;
    margin: 1rem;
    color: white;
    font-size: 1.2rem;
    border: none;
    border: 1px solid var(--primary-color);
    width: 20rem;
    background-color: var(--primary-color);
    
}
#formTogglerButton:hover
{
    background-color: rgba(11, 11, 11, 0.7);
    transform: scale(1.02);
    font-weight: 400;

}
  /* **********************form CSS****************** */
#newVendorFormContainer, #addTransaction{
    margin: auto;
    padding: 2rem;
    /* visibility: hidden; */
    width: 60%;
}
form p{
    background-color: transparent
}
fieldset{
    padding: 25px;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    margin: auto;
    border: 1px solid var(--primary-color) ;
}
.panel h5{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.transactionDetailInputDiv{
    text-align: left;
    background-color: transparent;
}
.clientdeets{
    background-color: transparent;
    font-size: 20px;
    color: var(--main-color);
    font-weight: 500;
}
#submit{
    background-color: var(--primary-color);
    width: 40%;
    margin: auto;
    padding: 10px;
}
.newCollectionDetails{
    padding-top: 15px;
}
.myformControl{
    margin: 0;
    text-align: left;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none; 
    display: block;
    width: 90%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    color: #9eeab0;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out;
    padding-left: 10px;
}

.newVendorDiv{
    margin: auto;
    width: 65%;
    padding: 10px;
    background-color: var(--main-color);
}

legend{
    padding:15px;
    color: var(--main-color);
    font-size: 1.5rem;
    
}
#formTitle{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}

/* ********************************end of form CSS************** */
